<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>撼地者</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/earthshaker_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/earthshaker/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>斯温</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/sven_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/sven/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>小小</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/tiny_vert.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>昆卡</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/kunkka_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/tiny/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>兽王</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/beastmaster_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/beastmaster/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>龙骑士</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/dragon_knight_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/dragon_knight/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>发条技师</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/rattletrap_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/clockwerk/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>全能骑士</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/omniknight_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/omniknight/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>哈斯卡</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/huskar_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/huskar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>炼金术士</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/alchemist_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/alchemist/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>熊猫酒仙</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/brewmaster_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/brewmaster/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>树精卫士</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/treant_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/treant_protector/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>艾欧</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/wisp_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/Io/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>半人马行者</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/centaur_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/centaur_warrunner/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>伐木机</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/shredder_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/timbersaw/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刚被兽</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/bristleback_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/bristleback/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>巨牙海民</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/tusk_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/tusk/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>上古巨神</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/elder_titan_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/elder_titan/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>军团指挥官</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/legion_commander_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/legion_commander/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>大地之灵</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/earth_spirit_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/earth_spirit/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>凤凰</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/phoenix_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/phoenix/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>斧王</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/axe_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/axe/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>帕吉</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/pudge_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/pudge/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>沙王</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/sand_king_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/sand_king/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>斯拉达</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/slardar_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/slardar/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>潮汐猎人</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/tidehunter_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/tidehunter/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>冥魂大帝</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/skeleton_king_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/wraith_king/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>噬魂鬼</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/life_stealer_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/lifestealer/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>暗夜魔王</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/night_stalker_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/night_stalker/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>末日使者</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/doom_bringer_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/doom/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>裂魂人</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/spirit_breaker_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/spirit_breaker/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>狼人</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/lycan_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/lycan/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>混沌骑士</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/chaos_knight_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/chaos_knight/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>不朽尸王</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/undying_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/undying/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>马格纳斯</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/magnataur_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/magnus/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>亚巴顿</string>
			<key>iconURL</key>
			<string>http://www.dota2.com.cn/images/heroes/abaddon_vert.jpg</string>
			<key>contentURL</key>
			<string>http://db.dota2.com.cn/hero/abaddon/</string>
		</dict>
	</array>
</array>
</plist>
